@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #000;
  color: #ffff;
  overflow-x: hidden;
}

header {
  position: fixed;
  width: 100%;
  top: -2;
  left: 0;
  right: 0;
  z-index: 1000;
  padding: 10px 0;
  display: flex;
  align-items: center;
}

.nav-logo {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  padding: 0 20px;
}

.logo-spotify i {
  font-size: 29px;
  color: #fff;
  margin-right: 20px;
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  gap: 10px;
}

.home-icon {
  padding: 7px;
  border-radius: 50%;
  background-color: #242424;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: #e8e8e8;
  width: 45px;
  height: 45px;
  border: none;
  transition: background-color 0.3s, transform 0.3s; 
}

.home-icon:hover {
  background-color:  #575656; 
  transform: scale(1.1);
  color: #fff; /
}

.search-bar {
  display: flex;
  align-items: center;
  background-color: #242424;
  padding: 8px 16px;
  border-radius: 20px;
  width: 450px;
  height: 42px;
  position: relative;
  margin-right: -130px;
}

.search-bar i.fa-magnifying-glass {
  color: #acacac;
  font-size: 20px;
}

.search-bar input {
  background-color: transparent;
  border: none;
  color: #acacac;
  width: 100%;
  margin-left: 10px;
  outline: none;
  font-size: 14px;
  font-weight: 600;
}

.search-bar p {
  padding-right: 10px;
  color: #acacac;
  margin: 0;
}

.folder {
  display: flex;
  align-items: center;
  position: absolute;
  right: 15px;
  padding-left: 20px;
}

.folder i {
  color: #acacac;
  font-size: 16px;
}

.folder i:hover {
  color: #fff;
}

.buttons {
  display: flex;
  gap: 10px;
}

.inscreva,
.entrar {
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}

.inscreva {
  background-color: transparent;
  color: #acacac;
  font-weight: 600;
}

.entrar {
  width: 110px;
  height: 45px;
  background-color: #fff;
  color: #000;
  font-weight: 700;
}

.entrar:hover {
  transform: scale(1.1);
}

.container {
  display: flex;
  padding-top: 70px;
}

.sidebar {
  width: 385px;
  background-color: #121212;
  padding: 20px;
  position: fixed;
  top: 70px;
  bottom: 0;
  overflow-y: auto;
  border-radius: 14px;
  margin-left: 6px;
}

.nav-library,
.nav-playlist,
.nav-podcast {
  margin-bottom: 20px;
}

.nav-library {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #b7b3b6;
  font-size: 14px;
  cursor: pointer;
}

.nav-library i,
.nav-library p {
  color: #b7b3b6;
  font-weight: 700;
}

.nav-library i:hover,
.nav-library p:hover {
 color: #fff;
}

.nav-library p,
.nav-library i {
  font-size: 13px;
  padding-bottom: 20px;
}

.nav-library i {
  font-size: 20px;
}

.nav-playlist,
.nav-podcast {
  background-color: #242424;
  padding: 16px;
  border-radius: 10px;
  width: 355px;
  height: 115px;
}

.nav-playlist h5,
.nav-podcast h5 {
  color: #fff;
  font-size: 13px;
  padding-bottom: 5px;
}

.nav-playlist p,
.nav-podcast p {
  color: #fff;
  font-size: 12px;
}

.nav-playlist button,
.nav-podcast button {
  background-color: #fff;
  color: #000;
  border: none;
  padding: 6px 16px;
  margin-top: 16px;
  cursor: pointer;
  font-size: 12px;
  border-radius: 20px;
  font-weight: 600;
}

.nav-playlist button:hover,
.nav-podcast button:hover {
  transform: scale(1.1);
}

.nav-footer {
  margin-top: 329px;
  padding-bottom: 23px;
}

.nav-footer a {
  color: #a7a7a7;
  text-decoration: none;
  font-size: 9.5px;
  margin-right: 12px;
  margin-bottom: 8px;
  gap: 10px;
}

.Cookies {
  font-weight: 800;
  font-size: 13px;
}

.nav-language-button {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 20px;
  height: 32px;
  font-size: 12px;
  font-weight: 600;
}

.nav-language-button:hover {
  border: 2px solid #ffff;
}

main {
  flex-grow: 1;
  margin-left: 290px;
  padding: 25px;
  overflow-y: auto;
  height: calc(100vh - 70px);
}

section.content {
  background: radial-gradient(circle, #121212, #212121);
  border-radius: 15px;
  padding: 20px;
  margin-bottom: 20px;
  margin-top: -24px;
  margin-right: -26px;
  margin-left: 85px;
  overflow: hidden;
  position: relative;
}

.content h2 {
  font-size: 18px;
}

.artists-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 24px;
  padding-top: 25px;
}

.albums-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 24px;
  margin-bottom: 50px;
  padding-top: 47px;
}

.albums-grid h2 {
  padding-bottom: 47px;
}

.artists-grid img,
.albums-grid img {
  width: 185px;
  height: 185px;
  object-fit: cover;
}

.artists-grid img {
  border-radius: 50%;
}

.albums-grid img {
  border-radius: 10px;
}

.artists-grid img:hover,
.albums-grid img:hover {
  transform: scale(1.1);
}

.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;

  color: #fff;
}

.footer-column {
  flex: 1;
  min-width: 150px;
  margin: 10px;
}

.footer-column h3 {
  font-size: 14px;
  margin-bottom: 10px;
}

.footer-column ul {
  list-style-type: none;
  padding: 0;
}

.footer-column ul li {
  margin-bottom: 5px;
}

.footer-column ul li a {
  color: #acacac;
  font-size: 11.5px;
  text-decoration: none;
  font-weight: 500;
}

.footer-column ul li a:hover {
  font-size: 11px;
  color: #fff;
  font-weight: 500;
}


.footer-column ul li a:hover {
  text-decoration: underline;
}

.footer-social {
  display: flex;
  align-items: center;
}

.footer-social a {
  margin-right: 10px;
  color: #acacac;
  font-size: 24px;
  text-decoration: none;
}

.footer-social a {
  margin-right: 10px;
  font-size: 19px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #292929;
  border-radius: 50%;
  border: none;
  color: #e8e8e8;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.footer-social a:hover {
  background-color: #575656;
  transform: scale(1.1);
}

.footer-copyright {
  flex-basis: 100%;
  text-align: start;
  margin-top: 20px;
  font-size: 13px;
  color: #acacac;
}



.banner {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 6px;
  background: linear-gradient(90deg, #af2896, #509bf5);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;

}

.banner p {
  font-size: 12px;
  padding-left: 15px;
  padding-top: 2px;
  font-weight: 600;
}

.banner h2 {
  font-size: 14px;
  padding-left: 15px;
}

.banner button {
  border: none;
  background-color: #fff;
  color: #000;
  font-weight: 600;
  border-radius: 25px;
  height: 45px;
  width: 160px;
  margin-right: 20px;
  font-size: 12.5px;
  font-weight: 700;
}

.banner button:hover {
  transform: scale(1.1);
}

::-webkit-scrollbar {
  width: 12px;
  background-color: #121212;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #121212, #616161);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #616161;
}

::-webkit-scrollbar-horizontal {
  height: 12px;
  background-color: #121212;
}

::-webkit-scrollbar-thumb-horizontal {
  background: #616161;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb-horizontal:hover {
  background: linear-gradient(180deg, #121212, #616161);
}

